/* .img-left{

} */
.container{
    padding: 4rem 1rem;

}
.pet-info{
    font-family: "Myriad Pro";
    /* background: khaki; */
}

.quest-box{
    height: 200px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.quest-box button {
    margin: 10px 30px;
}