.edit-form {
    min-height: 80vh;
    width: 25rem;
    border-radius: 2px;
    box-shadow: 5px 9px 13px 6px rgba(255, 146, 85, 0.46);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit-form h1 {
    font-size: large;
    color: rgb(187, 145, 77);
    text-align: center;
  }
  