*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: url("../images/bg-body.gif");
  background-repeat: repeat-x;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



#header {
  max-width: 960px;
  height: 72px;
  position: relative;
  margin: 0 auto;
}
#header a#logo {
  position: relative;
}
#header a#logo img {
  border: 0;
  height: 72px;
  width: 250px;
}
/**-------------- Navigation style ---------------**/
#header ul.navigation {
  list-style-type: none;
  margin: -82px 0 0 250px;
  padding-top: 50px;
  overflow: hidden;
}
#header ul.navigation li {
  float: left;
  height: 25px;
  width: 107px;
}

#header ul.navigation li a {
  text-decoration: none;
  color: #2c1d00;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  line-height: 35px;
  background-repeat: no-repeat;
  background-position: right;
  height: 55px;
  padding: 0 20px 0 20px;
  text-align: center;
  width: 67px;
}
#header ul.navigation li a:hover {
  color: #ffffff;
}

#body div.banner {
  background: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  background-position: center;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  background-size:cover;
}
#body div span {
  font-family: "Myriad Pro";
  font-size: 25px;
  color: #5a5555;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform:uppercase
}
#body div#content {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-image: none;
  height: auto;
  overflow: hidden;
}
#body div#content .content {
  float: left;
  width: 640px;
  margin-right: 20px;
  background-image: none;
  height: auto;
  overflow: hidden;
}
#body #content .content h2 {
  font-family: "Myriad Pro";
  margin: 80px 0 0 30px;
}
#body #content .content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#body #content .content ul li {
  width: 500px;
  padding: 0 10px;
  margin: 0 0 20px 0;
  float: left;
  line-height: 25px;
  height: auto;
}
#body #content .content ul li span {
  display: block;
}
#body #content .content ul li span a {
  color: #7f7154;
  font-family: "Myriad Pro";
  font-size: 14px;
  text-decoration: none;
}
#body #content .content ul li span a:hover {
  color: #000000;
}

#body #content .content ul li a {
  text-decoration: none;
}
#body #content .content ul li a:hover {
  color: #f8f3e9;
}


#body #content .content ul li h2 {
  font-family: "Myriad Pro";
  font-size: 20px;
  margin: 0;
}

#body #content .content ul li p {
  font-family: "Myriad Pro";
  font-size: 14px;
  text-align: justify;
  color: #7f7154;
  margin: 0;
}
#body #content .content ul li p a {
  color: #ff9e01;
}
#body #content .content ul li p a:hover {
  color: #7f7154;
}
#body #content .content ul li img {
  border: 0;
  float: left;
  margin-right: 10px;
}

#footer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #ffad00;
  height: 50px;
  text-align: center;
  margin: auto;
  font-size: 15px;
  font-family: "Myriad Pro";
}

#footer a {
  text-decoration: none;
  color: #000000;
}
#footer a:hover {
  color: #ffffff;
}
